html,
body {
    height: 100%;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

header,
footer {
    /*flex: 0 0 auto;*/
}

.container {
    /*height: 100%;*/
    position: relative;
    box-sizing: border-box;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.main-content{
    flex: 1 0 auto;
}

.change-lang {
    color: white;
}

.meme-header,
.meme-footer {
    padding: 1rem 1.5rem;
    text-align: center;
}

.meme-header {
    padding-top: 5rem;
}

.meme-content {
    background-color: #e5e5e5;
    padding: 20px;
}



