html,
body,
.container {
    height: 100%;
}

body {
    overflow: hidden;
}

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

header,
footer {
    flex: 0 0 auto;
}
.main-content{
    flex: 1 0 auto;
}

.change-lang {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
}

.meme-header,
.meme-footer {
    padding: 1rem 1.5rem;
    text-align: center;
}

.meme-header {
    padding-top: 5rem;
}

.meme-content {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    background-color: #e5e5e5;
    padding: 20px;
}

#infinite-list {
}



