<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Funny Memes</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="https://github.com/scuderia1000/funny-memes">Project repo</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Funny memes</h1>
        <h2>
            <!--<span th:text="'Hello, ' + ${message}"></span>-->
        </h2>
    </div>

    <div class="meme-container">
        <ul>
            <li th:each="meme : ${memes}" class="meme-post-item">
                <span th:text="${meme.title}" class="meme-title"></span>
                <div class="score-container">
                    <span class="score-text" th:text="${meme.score}"></span>
                    <img class="score-like-icon" th:src="@{/images/svg/like.svg}"/>
                </div>
                <span class="score-date" th:text="${#dates.format(meme.publishDate, 'dd.MM.yyyy HH:mm')}"></span>
                <div class="post-message">
                    <a th:href="@{/image/{id}(id=${meme.id})}">
                        <div class="meme-media-content">
                            <img th:src="${meme.fullMediaUrl}" th:alt="${meme.title}" class="media-image">
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>

</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>

</body>
</html>